{% extends 'base.html' %}


{% block title %}

	<title> About "learning" app </title>

{% endblock %}



{% block content %}


      <div class="starter-template">
        <h1>We use bootstrap starter template</h1>

        <p class="lead"> <b> Note 1: </b> to upload data to Course and Lesson models use <br> $ python manage.py loaddata fixtures/learning.json --app learning </p>

        <p class="lead"> <b> Note 2: </b> to store data from Course and Lesson models use <br> $ python manage.py dumpdata learning > fixtures/learning.json </p>

      </div>


{% endblock %}